@media (max-width: 1000px) {
    
    .top-wrapper h1{
        font-size: 65px;
        letter-spacing: 4px;
    }

    .top-wrapper span{
        font-size: 75px;
    }

    .title{
        font-size: 18px;
    }

    .about {
        padding-left: 70px;
        padding-right: 70px;
    }

    .about p{
        font-size: 12.5px;
        line-height: 16.5px;
    }

    .item{
        font-size: 12px;
    }

    .item img{
        height: 190px;
    }

    input, textarea, button{
        margin-bottom: 20px;
        font-size: 11px;
    }
    
    
}

@media (max-width: 670px) {

    .menu-icon{
        display: block;
    }

    .header-list{
        display: none;
    }

    .top-wrapper h1{
        font-size: 55px;
        letter-spacing: 2.5px;
    }

    .top-wrapper span{
        font-size: 66px;
    }

    .top-wrapper p{
        font-size: 25px;
    }

    .banner-profil{
        height: 135px;
        
    }

    .title{
        font-size: 16px;
    }

    .item{
        width: 100%;
        margin-bottom: 35px;
    }

    .about {
        padding-left: 55px;
        padding-right: 55px;
    }

    .about p{
        font-size: 12px;
    }

    .contact-form {
        padding: 50px;
    }

    input, textarea, .btn-submit {
        width: 100%;
    }

    .footer {
        text-align: center;
        padding: 30px 0 20px 0;
        height: 170px;
    }

    .footer-logo {
        float: none;
    }

    .footer-list {
        float: none;
    }


}
